<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852915674724-kvo98e8rjhrpilve08ripng72vva92j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852915674724-kvo98e8rjhrpilve08ripng72vva92j7</string>
	<key>API_KEY</key>
	<string>AIzaSyCMgbHFzsy_tjXljEP2LKZkCQDfyxdg-RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>852915674724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moodle.ibda</string>
	<key>PROJECT_ID</key>
	<string>lms-ibda</string>
	<key>STORAGE_BUCKET</key>
	<string>lms-ibda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852915674724:ios:d02e195b57ccb419848971</string>
	<key>DATABASE_URL</key>
	<string>https://lms-ibda.firebaseio.com</string>
</dict>
</plist>